# işleyiciler bölümü akışı buradan salıyor kan yani hımm @EfsaneStar yapıyorsun bu işi. 
pyrogram
TgCrypto
py-tgcalls
python-dotenv
youtube_dl
youtube_search_python
youtube-dl
youtube_search
requests
